future>=1.0.0
numpy>=2.1.3
ffmpeg-python>=0.2.0
Wave>=0.0.2
vosk>=0.3.44
openai-whisper>=20240930
torch>=2.6.0
pydub>=0.25.1
SoundCard>=0.4.4
soundfile>=0.13.1
langchain>=0.3.22
sounddevice>=0.5.1
langchain_ollama
moviepy>=1.0.3
customtkinter>=5.2.0